
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <% include partials/import %> 

  <!-- =======================================================
  * Template Name: PhotoFolio - v1.1.0
  * Template URL: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <% include partials/head %> 
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <!-- <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>This is <span>searchfy</span></h2>
          <p>search music on spotify for you</p>
          <p>Please Choose Country </p>
          <select id="selectValue" class="form-select" aria-label="Default select example">
            <option value="US">US</option>
            <option value="JP">JP</option>
            <option value="KR">KR</option>
            <option value="TW">TW</option>
            <option value="AU">AU</option>
            <option value="GB">UK</option>
            <option value="DE">DE</option>
            <option value="FR">FR</option>
            
          </select>
          <button type="button" onclick="query()" class="btn btn-primary">Search</button>
        </div>
      </div>
    </div> -->
  </section>
  <!-- End Hero Section -->

  <main id="main" data-aos="fade" data-aos-delay="1500">
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery"></section>
    <!-- End Gallery Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <% include partials/footer %>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>

  <div class="modal fade" id="picModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-header">
        <h5 class="modal-title" id="title"></h5>
        <!-- <button onclick="hideModal('picModel')" class="btn-close btn-close-white" aria-label="Close"></button> -->
      </div>
      <div class="modal-content">
        <img src="" id="picInModelContent" alt="">
      </div>
    </div>
  </div>
</body>

<% include partials/script %>

<script>
  //#region 載入本頁主體html
  const picCount = 16;
  let content = document.createElement('div');
  content.className = "container-fluid";
  let picHtml = '<div id="contentDiv"><div class="row gy-4 justify-content-center">';
  for (let index = 1; index <= picCount; index++) {
    picHtml += 
    ` <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <img src="assets/img/gallery/gallery-${index}.jpg" class="img-fluid" alt="">
          <div class="gallery-links d-flex align-items-center justify-content-center">
            <a href="assets/img/gallery/gallery-${index}.jpg" title="Gallery ${index}" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            <a href="gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div>
      </div>`;
  }
  picHtml += '</div></div>';
  content.innerHTML = picHtml;
  document.getElementById('gallery').innerHTML = content.innerHTML;
  //#endregion

  //#region 查詢動作
  async function query(){
    const code = document.getElementById("selectValue").value ;
    var result = await getNewReleases(code);
    await fillData(result);
  }
  //#endregion

  async function getNewReleases(code="US"){
      const params = {
        code,
        limit:"20",
        offset:"0"
      }
      const url = "http://localhost:3000/spotify/newReleases?";
      const result = await get(url,params);
      const previousPageUrl = result.data.albums.previous;
      const nextPageUrl = result.data.albums.next;
      const totalCount = result.data.albums.total;
      return result;
  }

  function setPic(picUrl,title){
    document.getElementById("picInModelContent").src= picUrl;
    document.getElementById("title").innerHTML = title;
    //$('#picModel').modal({backdrop: '', keyboard: true});
    $('#picModel').modal('show');
    
  }

  function hide(id){
    console.log('#'+id);
    $('#'+id).modal('hide');
  }
  //餵入資料
  async function fillData(result){
    let contentHtml = '<div class="row gy-4 justify-content-center">';
        // 階層 result.data.albums.items
        result.data.albums.items.forEach(item => {
          let title = `${item.artists[0].name} - ${item.name}`.replaceAll(/\'/g,"’");
          contentHtml += `
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="${item.images[0].url}" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <div onclick="setPic('${item.images[0].url}','${title}')"><span id="boot-icon" class="bi bi-zoom-in" style="font-size:3rem"></span></div>
              </div>
            </div>
          </div>
          `
          //#region 
          //item.href
          //item.artists array
          //artists.href
          //artists.id
          //artists.name
          //artists.type
          //artists.uri

          //item.id
          //item.images 0:640 , 1:300 , 2:64
          //item.name
          //item.release_date
          //item.type (album)
          //#endregion

        });
        document.getElementById("contentDiv").innerHTML = contentHtml+"</div>";
        //<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
        // <div class="gallery-links d-flex align-items-center justify-content-center">
        //         <a href="${item.images[2].url}" title="Gallery ${item.id}" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
        //         <a href="gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
        // </div>
  }

  //網頁初始動作
  window.onload = async function(){   
        var result = await getNewReleases();
        await fillData(result);
  };
  
</script>
</html>